* { margin: 0px; padding: 0px; font-family: 'Open Sans'; }
html, body { width: 100%; height: 100%; background: #D9E3EC; }

.t { display: table; width: 100%; height: 100%; }
    .tc { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }


/* ============ HOME PAGE ================== */

.home-slider-wrapper { position: relative; width: 100%; height: 100%; overflow-x: hidden; }
    .home-slider { position: relative; width: 100%; height: 100%; left: 0px; transition: 1s; }
        .home-slide { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
            .home-slide:first-child { background-color: #fff; }
            .banner{ width: 70%; margin: 0px auto; max-width: 900px; text-align: center; }
                .banner-image { position: relative; display: block; margin: 0px auto; max-width: 900px; width: 80%; margin-bottom: 50px; }
                    .banner-image img { display: block; position: relative; width: 100%; height: 100%; }
                    .banner-image-card { position: absolute; width: 50px; height: 30px; background: rgb(13, 158, 97); left: 50%; margin-left: -25px; top: 0px; z-index: 2; border-radius: 4px; text-align: center; animation: Bounce 2s linear infinite; }
                        .banner-image-card span { position: relative; font-size: 15px; font-weight: 600; font-family: 'Barlow'; top: 4px; color: #fff; }
                        @keyframes Bounce { 0%, 100% { top: 0px; } 50% { top: -10px; }}
                .logo { position: absolute; top: 30px; left: 30px; width: 120px; display: block; }
                .banner h1 { font-size: 60px; margin-bottom: 120px; font-weight: 700;}
                .social-login { position: relative; display: inline-block; width: 250px; height: 50px; margin-right: 20px; background: #345AE3; text-align: center; border-radius: 4px; cursor: pointer; }
                    .social-login span { position: relative; top: 14px; left: 10px; font-size: 16px; color: #fff; }
                    .social-login .fab { position: absolute; left: 20px; display: inline-block; font-size: 20px; top: 15px; }
            

            .home-setup { position: relative; width: 80%; margin: 0px auto; padding: 20px; border-radius: 4px; background: #fff; max-width: 400px;}
                .setup-logo { position: relative; width: 100px; height: 100px; margin: 0px auto; margin-top: -70px; background: #eee; border-radius: 100px; border: 8px solid #fff; overflow: hidden; margin-bottom: 10px; }
                    .setup-logo-cover { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 2; background: rgba(0,0,0, .8); cursor: pointer; text-align: center; transition: .5s; opacity: 0; }
                        .setup-logo-cover span { font-size: 30px; position: relative; display: inline; margin: 0px auto; color: #fff;}
                        .setup-logo:hover .setup-logo-cover { opacity: 1; }
                    .setup-logo-image { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1; }
                        .setup-logo-image img { width: 100%; height: 100%; }
                    .setup-logo input { position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; opacity: 0; cursor: pointer; z-index: 2; }

                .setup-label { display: block; font-size: 30px; margin: 0px auto; text-align: center; margin-bottom: 20px; font-weight: 600; }
                .setup-sublabel { display: block; font-size: 16px; width: 80%; margin: 0px auto; text-align: center; margin-bottom: 40px; color: #777; font-weight: 400; }

    .marker { background-size: cover; margin-top: -45px; width: 90px; height: 90px; background: url('../images/marker.png') center center no-repeat; background-size: 100%; cursor: pointer; }

.left { width: calc(100% - 400px); height: 100%; position: relative; top: 0px; left: 0px; overflow-y: auto; }

    .business-wrapper { width: 70%; max-width: 400px; margin: 0px auto; padding: 30px; border-radius: 4px; background-color: #fff; }

        .form-spacer { width: 100%; height: 30px; }

        .recepient { width: 100%; margin-bottom: 20px;}
            .recepient-amount-list { position: relative; }
                .recepient-amount-list-item { position: relative; display: inline-block; width: calc(18% - 2px); margin: 0px 1%; border: 1px solid rgb(223, 227, 236); height: 60px; text-align: center; border-radius: 4px; cursor: pointer; background: rgb(243, 246, 252); }
                    .recepient-amount-list-item span { position: relative; top: 19px; color: rgb(92, 97, 128); font-family: 'Barlow'; font-weight: 500; }
                    .recepient-amount-list-item.selected { border-color: #345AE3; background: #345AE3; }
                        .recepient-amount-list-item.selected span { color: #fff; }
        .business { text-align: center; margin-bottom: 20px; }
            .business-logo { position: relative; width: 80px; height: 80px; margin: 0px auto; margin-top: -70px; margin-bottom: 10px; border-radius: 100px; background: rgb(188, 191, 197); overflow: hidden; border: 8px solid #fff;}
                .business-logo img { width: 100%; height: 100%; }
            .business-name { position: relative; font-size: 30px; color: #000; margin-bottom: 5px; font-weight: 600; }
            .business-link { display: inline-block; position: relative; font-size: 13px; color: #09f; text-decoration: none; margin-bottom: 15px; }
            .business.congrats .business-logo { width: 80px; height: 80px; margin-top: -70px; }
            .business.congrats .business-name { font-size: 24px; }

        .payment { display: none; }

            .input-wrapper { position: relative; width: 100%; height: 75px; margin-bottom: 15px; }
                .input-wrapper-exp { display: inline-block; width: 25%; margin-right: 5%; }
                .input-wrapper-cvv { display: inline-block; width: 25%; margin-right: 5%; }
                .input-wrapper-zip { display: inline-block; width: 40%; }
                .input-label { position: relative; font-weight: bold; font-size: 12px; margin-bottom: 10px; color: #777; }
                .input-icon { position: absolute; display: inline; font-size: 16px; top: 41px; left: 20px; color: #555; }
                .input-wrapper input { border: 1px solid #ddd; font-size: 15px; padding: 15px 15px; width: calc(100% - 32px); color: #345AE3; transition: .3s; font-family: 'Barlow'; font-weight: 500; background: #fff; }
                    .input-wrapper-amount input { padding-left: 40px; width: calc(100% - 57px); }
                    .input-wrapper input:disabled { color: #777; background: #eee;}
                    .input-wrapper input:focus { border-color: #345AE3; outline: none; background: rgb(244, 246, 250); }
                    .input-wrapper input::placeholder { color: #aaa; }
            .order, .continue { position: relative; top: 0px; display: block; background: #345AE3; width: 100%; height: 50px; border-radius: 4px; text-align: center; text-decoration: none; cursor: pointer; transition: .3s; }
                .order:hover, .continue:hover { top: -2px; background: rgb(42, 74, 190); }
                .order span, .continue span { position: relative; top: 14px; color: #fff; }
                .order b, .continue b { position: absolute; right: 20px; top: 17px; color: #fff; }

        .greeting { font-family: 'Barlow'; font-size: 16px; font-weight: 500; margin-bottom: 30px; }

        .card { position: relative; width: 100%; margin: 0px auto; height: 250px; border-radius: 15px; margin-bottom: 20px; font-family: 'Barlow'; background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%); box-shadow: 0px 0px 20px rgba(0,0,0,.25); z-index: 10; }
            .rotate { animation: rotation .6s;  animation-iteration-count: once; }
            .card * { font-family: 'Barlow'; letter-spacing: 3px; color: #fff; text-shadow: 1px 1px 2px rgba(0,0,0,.5); }
            .card-amount { position: absolute; display: inline-block; top: 20px; right: 25px; font-size: 34px; font-family: 'Barlow'; text-align: right; }
            .card-label { position: absolute; display: inline-block; top: 30px; left: 10%; font-size: 14px; font-family: 'Barlow'; }
            .card-number { position: absolute; display: inline-block; top: 100px; letter-spacing: 4px; left: 10%; font-size: 24px; font-family: 'Barlow'; }
            .card-name { position: absolute; display: inline-block; top: 135px; left: 10%; font-size: 20px;  font-family: 'Barlow'; }
            .card-exp-label { position: absolute; display: inline-block; left: 10%; top: 200px; font-size: 15px; }
            .card-cvv-label { position: absolute; display: inline-block; left: calc(10% + 130px); top: 200px; font-size: 15px; }
            .card-exp { position: absolute; display: inline-block; left: calc(10% + 50px); top: 199px; font-size: 17px; }
            .card-cvv { position: absolute; display: inline-block; left: calc(10% + 180px); top: 199px; font-size: 17px; }
            .card-chip { right: 25px; top: 160px; width: 60px; position: absolute; }
            .noshadow { text-shadow: none; opacity: .7; }

        .card-options { width: 100%; height: 25px; margin-bottom: 40px; }
            .toggle { position: relative; display: inline-block; width: 40px; height: 24px; margin-right: 10px;; }
                .toggle input { opacity: 0; width: 0; height: 0; }
                .circle { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; border-radius: 20px; }
                    .circle:before { position: absolute; content: ""; height: 16px; width: 16px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; border-radius: 20px;; }
                input:checked + .circle { background-color: #345AE3; }
                input:focus + .circle { box-shadow: 0 0 1px #345AE3; }
                input:checked + .circle:before { -webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px); }
            .card-options-label { position: relative; font-size: 12px; color: #888; }

    .spacer { width: 100%; height: 80px; }
        .powered { width: 80%; margin: 0px auto; text-align: center; margin-top: 30px; }
            .poweredby { font-size: 12px; color: rgb(164, 171, 179); margin-bottom: 10px;}
            .powered img { width: 80px; }

.right { width: 400px; height: 100%; position: absolute; top: 0px; left: calc(100% - 400px); }
    #map { width: 100%; height: 100%; }



@keyframes rotation { 0% { transform: rotate(0deg); } 30% { transform: rotate(-5deg); } 60% { transform: rotate(5deg); } 100% { transform: rotate(0deg); } }